<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>
    <h1>Welcome Admin</h1> 
    <a href="modreg">Manage moderators</a>
    <br>
    <a href="viewusers">View users</a>
    <br>
    <a href="maneventcat">Manage event category</a>
    <br>
    <a href="viewevents">View Events</a>
    <br>
    <a href="complaints">View Complaints and reply</a>
    <br>
    <a href="feedback">View Feedbacks</a>
    <br>
    



  </center> 
</body>
</html>