<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            Welcome Moderator
        </h1>

        <a href="vieweventcat">View Event category</a>
        <br>
        <a href="modviewevents">View Events</a>
        <br>
        <a href="complaints">View Complaints</a>
        <br>
       

    </center>
</body>
</html>